
body{
	background-image: url("https://static.vecteezy.com/system/resources/previews/019/526/878/non_2x/3d-white-wave-texture-background-concept-free-vector.jpg");
	
}


div.header{
	color:white;
	background:blue;
	padding:20px;
	font-family:arial;
	width:auto;
}

button{
	border-width:2px;
	color:blue;
	background:#FFFFFF75;
	padding:20px;
	font-family:Arial;
	border-radius:5px;
	border-color:blue;
	border-style:solid;
	border-collapse:collapse;
	width:250px;
	font-size:36px;
}
button:hover{
	color:white;
	border-color:blue;
	font-weight:bold;
	background:blue;
}


